<div class="container">
  <app-cell
    class="grid-cell-0"
    [cellNumber]="0"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-1"
    [cellNumber]="1"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-2"
    [cellNumber]="2"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-3"
    [cellNumber]="3"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-4"
    [cellNumber]="4"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-5"
    [cellNumber]="5"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-6"
    [cellNumber]="6"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-7"
    [cellNumber]="7"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-8"
    [cellNumber]="8"
    [gameModel]="gameModel"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <div class="footer">
    <div>Leaderboard</div>
    <div>Score X: {{ score.X }}</div>
    <div>Score O: {{ score.O }}</div>
    <button
      [ngClass]="{ flash: gameOver || clickCount > 8 }"
      (click)="onGameOver()"
      [disabled]="clickCount === 0"
    >
      Play it again!
    </button>
    <div>
      <ul class="playedGames">
        <li *ngFor="let game of playedGames">
          <button (click)="onPlayedGameClick(game.id)">{{ game.id }}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
