.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . cell-0 cell-1 cell-2 ."
    ". . cell-3 cell-4 cell-5 ."
    ". . cell-6 cell-7 cell-8 ."
    "footer footer footer footer footer footer";
  grid-gap: 0;
  height: 280px;
  width: 400px;
  margin: 0 auto;
}

.grid-cell-0 {
  grid-area: cell-0;
}

.grid-cell-1 {
  grid-area: cell-1;
}

.grid-cell-2 {
  grid-area: cell-2;
}

.grid-cell-3 {
  grid-area: cell-3;
}

.grid-cell-4 {
  grid-area: cell-4;
}

.grid-cell-5 {
  grid-area: cell-5;
}

.grid-cell-6 {
  grid-area: cell-6;
}

.grid-cell-7 {
  grid-area: cell-7;
}

.grid-cell-8 {
  grid-area: cell-8;
}

.footer {
  grid-area: footer;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes glowing {
  0% {
    background-color: #ccc;
    color: black;
  }
  100% {
    background-color: red;
    color: #eee;
  }
}

.flash {
  animation-name: glowing;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
