<div class="container">
  <app-cell
    class="grid-cell-0"
    cellNumber="0"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_0"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-1"
    cellNumber="1"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_1"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-2"
    cellNumber="2"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_2"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-3"
    cellNumber="3"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_3"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-4"
    cellNumber="4"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_4"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-5"
    cellNumber="5"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_5"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-6"
    cellNumber="6"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_6"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-7"
    cellNumber="7"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_7"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-8"
    cellNumber="8"
    [clickCount]="clickCount"
    [gameOver]="gameOver"
    [highLight]="hilite_8"
    [reset]="reset"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <div class="footer">
    <div>Leaderboard</div>
    <div>Score X: {{ score.X }}</div>
    <div>Score O: {{ score.O }}</div>
    <button
      [ngClass]="{ flash: gameOver || clickCount > 8 }"
      (click)="onGameOver()"
      [disabled]="clickCount === 0"
    >
      Play it again!
    </button>

    <div>Played games:</div>
    <ul>
      <li *ngFor="let id of gamesList">
        <button (click)="onRestoreGame(id)">{{ id }}</button>
      </li>
    </ul>
  </div>
</div>
