<div class="container">
  <app-cell
    class="grid-cell-0"
    cellNumber="0"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-1"
    cellNumber="1"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-2"
    cellNumber="2"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-3"
    cellNumber="3"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-4"
    cellNumber="4"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-5"
    cellNumber="5"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-6"
    cellNumber="6"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-7"
    cellNumber="7"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <app-cell
    class="grid-cell-8"
    cellNumber="8"
    [gameOver]="gameOver"
    [clickCount]="clickCount"
    (cellClickEvent)="cellClickEventHandler($event)"
  ></app-cell>
  <span class="footer" *ngIf="winner">{{ winner }} heeft gewonnen!</span>
</div>
